{% extends 'base.html' %} {% block content %}

<h1>Toko PBP - Pasti Belanja Puas</h1>

<h5>NPM:</h5>
<p>{{ npm }}</p>
<!-- Ubah sesuai dengan npm kamu -->
<h5>Name:</h5>
<p>{{ name }}</p>
<!-- Ubah sesuai dengan nama kamu -->
<h5>Class:</h5>
<p>{{ class }}</p>
<!-- Ubah sesuai dengan kelas kamu -->

{% if not shop_entries %}
<p>Belum ada data item pada shop.</p>
{% else %}
<table>
  <tr>
    <th>Item Name</th>
    <th>Price</th>
    <th>Description</th>
    <th>Amount Sold</th>
    <th>Rating</th>
  </tr>

  {% for shop_entry in shop_entries %}
  <tr>
    <td>{{shop_entry.name}}</td>
    <td>{{shop_entry.price}}</td>
    <td>{{shop_entry.description}}</td>
    <td>{{shop_entry.sold}}</td>
    <td>{{shop_entry.rating}}</td>
  </tr>
  {% endfor %}
</table>
{% endif %}

<br />

<a href="{% url 'main:create_shop_entry' %}">
  <button>Add New Shop Entry</button>
</a>
<a href="{% url 'main:logout' %}">
  <button>Logout</button>
</a>
<h5>Sesi terakhir login: {{ last_login }}</h5>

{% endblock content %}
